
h2 {
    background-color: rgb(89, 151, 0);
    color: aquamarine;
}
button {
    color: rgb(240, 248, 255);
background-color: rgb(255, 0, 0);
}
p{
 background: orange;
    color: blue;
}
body {
    background-color: turquoise;
}